<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>¡Hola Caro!</h1>
    <h2>Iniciar sesión</h2>
    <form action="/ccb/admin/login/start" method="post">
        <div>
            <label>Email
                <input type="text" name="email">
            </label>
        </div>

        <div>
            <label>Contraseña
                <input type="text" name="password">
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="remember" id="">Recuérdame
            </label>
        </div>
        
        <div>
            <button>Iniciar sesión</button>
        </div>
    </form>
</body>
</html>