<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>{% block title %}Inicio{% endblock %}</title>
  <link rel="stylesheet" href="/css/global.css">
  {% block css %}{% endblock %}
  </head>

  <body>
  <div class="container">
    {% for f in flash_notification %}
      <div class="alert"><em>{{ f.message }}</em></div>
    {% endfor %}
    <nav class="backoffice-nav">
      <a class="main-color" href="/ccb/admin/citas/index">CITAS</a>
      <a class="main-color" href="/ccb/admin/cabeceras/index">CABECERAS</a>
      <a class="main-color" href="/ccb/admin/precios/index">PRECIOS</a>
      <a class="main-color" href="/ccb/admin/blog/index">BLOG</a>
      <a href="" class="close-session-btn"><img src="/images/close-session.svg" alt="close"></a>

    </nav>

  
    {% block body %}
      <h1>Bienvenida</h1>
    {% endblock %}
     </div>
    <script src="/js/global.js" defer></script>
    {% block scripts %}{% endblock %}
  </body>
</html>